.header {
  text-align: center;
  padding-top: 2rem;
}

.about-body {
  text-align: center;
  margin:auto;
  align-self: center;
  width: 45rem;
  padding-top: 1rem;
}



.experience-body {
  text-align: left;
  padding-top: 2rem;
  padding-left: 20rem;
  width: 45rem;
}

.projects-body {
  text-align: left;
  padding-top: 2rem;
  padding-left: 20rem;
  width: 30rem;
}

.list-indent {
  padding-left: 1rem;
}